idp.metadata.url=http://localhost:8080/IdP/metadata
idp.metadata.check=true
#single sign on service locations URL
idp.ssos.redirect.location=http://localhost:8080/IdP/AuthenticateCitizen
idp.ssos.post.location=http://localhost:8080/IdP/AuthenticateCitizen
idp.country=CA
#Error code properties for when: Metadata source is incorrect or unavailable, or the format of the metadata is incorrect. e.g. when a sso property is missing
samlengine.metadata.retrieval.error.code=003009
samlengine.metadata.retrieval.error.message=samlengine.metadata.retrieval.error
samlengine.metadata.retrieval.error={0} - Metadata information can not be loaded